<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AbiEps</title>
  <%- include('templates/styles') %>
</head>

<body>
  <% if(role) {%>
    <%- include('templates/header_logged') %>
  <% } else { %>
    <%- include('templates/header_1') %>
  <% } %>

    <div class="content-body center">
      <div class="panel">
        <h1>Lorem ipsum dolor sit.</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt eaque asperiores necessitatibus, amet
          deleniti
          eum consectetur ea quisquam dicta neque obcaecati ex reiciendis atque deserunt non vero dolores ut corrupti.
        </p>
      </div>
    </div>
    <script src="/js/index.js"></script>

</body>

</html>