<%- include('templates/header') %>

  <div class="content-body">
    <h1>Lorem ipsum dolor sit.</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt eaque asperiores necessitatibus, amet deleniti
      eum consectetur ea quisquam dicta neque obcaecati ex reiciendis atque deserunt non vero dolores ut corrupti.
    </p>
  </div>
  <script src="/js/index.js"></script>

<%- include('templates/footer') %>