<%- include('templates/header') %>

  <div class="content-body center">

    <div class="card">
      <div class="card-body">
        <div class='logo'> <img src="/resource/icon.png" alt="logo" class="imagen">Telemática</div>
        <div>Acceder</div>
        <div class="email-form">
          <span>Usuario</span>
          <input type="email" class="input-e" autocomplete="username" aria-label="Usuario">
        </div>
        <div class="pass-form">
          <span>Contraseña</span>
          <input type="password" class="input-pass" aria-label="Contraseña">
        </div>
        <div>
          <button>Siguiente</button>
        </div>
      </div>
    </div>

  <script src="/js/index.js"></script>

<%- include('templates/footer') %>