:root {
  --header-pri: hsl(207, 73%, 85%);
  --header-sec: hsl(207, 73%, 75%);
  --color-pri: hsl(154, 100%, 95%);
  --color-sec: hsl(154, 100%, 80%);
  --azul-pri: hsl(195, 100%, 45%);
  --azul-sec: hsl(195, 100%, 33%);
  --button-pri: hsl(258, 76%, 32%);
  --button-sec: hsl(258, 76%, 22%);
  --background: linear-gradient(90deg, hsl(217, 100%, 16%) 0%, hsl(186, 100%, 40%) 100%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 19px;
  min-height: 100vh;
  display: flex;
}

body {
  font-family: 'M PLUS 1p', sans-serif;
  padding: 0;
  margin: 0;
  background: var(--background);
    min-height: 100vh;
  user-select:none;
  flex-grow: 1;
}

.content-body {
  padding: 0;
  padding-top: 3.25rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.box {
  flex-grow: 1;
  margin-top: 1em;
  position: relative;
  height: 2em;
  min-width: auto;
}

.row {
  display: flex;
  gap: .5em;
  flex-wrap: wrap;
}

.panel {
  background: var(--color-pri);
  box-shadow: 0 0 5em -2em black;
  width: 100%;
  padding: 2em;
  height: 100%;
}

.avatar {
  width: 2.25em;
  height: 2.25em;
}

/* header style */
.imagen {
  width: 2.25rem;
  height: 2.25rem;
  margin: 0.5rem;
  padding: 0;
  vertical-align: middle;
}

.logo {
  font-family: 'Monoton', cursive;
  font-size: 2rem;
  letter-spacing: 0.18em;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  user-select: none
}

header {
  background: var(--header-pri);
  text-align: center;
  z-index: 999;
  position: fixed;
  top: 0;
  width: 100%
}

header hr {
  position: absolute;
  top: 3.26rem;
  background: black;
  border: none;
  color: black;
  width: 100%;
  height: 1px;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--header-pri);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out 100ms;
  user-select: none
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  transition: background 500ms;
}

nav li:hover {
  background: var(--header-sec);
}

nav a {
  color: black;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 200ms ease-in-out
}

.nav-toggle {
  display: none
}

.nav-toggle:checked~nav {
  transform: scale(1, 1);
  transition: transform 400ms ease-in-out;
}

.nav-toggle:checked~nav a {
  opacity: 1;
  transition: opacity 200ms ease-in-out 350ms;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
  user-select: none
}

.nav-toggle-label span,
.nav-toggle-label span::after,
.nav-toggle-label span::before {
  display: block;
  background: black;
  height: 3px;
  width: 1.6em;
  border-radius: 3px;
  position: relative
}

.nav-toggle-label span::after,
.nav-toggle-label span::before {
  content: '';
  position: absolute;

}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

/* Card style*/

.card {
  background: var(--color-pri);
  margin: auto 0;
  min-width: 100%;
  min-height: 100%;
}

.card-body {
  margin: 2em 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-body p, .error{
  font-size: 13px;
  color: #d92626;
  font-weight: bolder;
}

/* Card form style */

.card-form {
  background: white;
  border-radius: 1rem;
  box-shadow: 0 0 1em 0 gray;
  padding: 2em;
  margin: 2em 0 3em 0;
}

/* form style */
form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

form a {
  color: var(--azul-pri);
  text-decoration: none;
}

form a:hover {
  color: #B1FC03;
}

.form-input {
  outline: none;
  border: 2px solid var(--azul-pri);
  border-radius: .5em;
  position: absolute;
  background: transparent;
  padding-left: .5em;
  font-family: inherit;
  height: 2.5em;
  width: 100%;
}

.form-input:focus {
  border: 2px solid var(--azul-sec);
}

.form-input:focus ~.form-label {
  color: var(--azul-sec);
}

input[type=submit], .submit-button {
  background: var(--button-pri);
  border: 1px solid var(--button-sec);
  border-radius: 0.5em;
  height: 2.5em;
  padding: 0 0.5em;
  align-self: end;
  color: white;
  font-family: inherit;
  cursor: pointer;
}

.submit {
  flex-grow: 0;
  justify-self: end;
  min-width: auto;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

h2 {
  padding-bottom: 1em;
}

.form-label {
  position: absolute;
  top: .15em;
  left: .5em;
  font-size: 1em;
  background: var(--color-pri);
  color: var(--azul-pri);
  font-weight: bold;
  cursor: text;
  transition: top 100ms ease-in,
    left 150ms ease-in,
    font-size 100ms ease-in;
}

.form-input:focus ~ .form-label,
.form-input:not(:placeholder-shown).form-input:not(:focus) ~.form-label {
  top: -0.7em;
  left: 1em;
  font-size: 0.7em;
}

.form-time {
  outline: none;
  border: 2px solid var(--azul-sec);
  border-radius: .5em;
  position: absolute;
  background: transparent;
  padding-left: .5em;
  height: 2em;
  width: 100%;
  font-family: inherit;
}

.form-time ~.form-label {
  top: -0.7em;
  left: 1em;
  font-size: 0.5em;
}

.bg-white {
  background: white;
}

.form-row {
  flex-direction: row;
  width: 100%;
}

.form-row > .box{
  flex: 1 1 100%;
}
.form-row > .box + .box{
  margin-left: 1em;
}

.box.select{
  flex: 1 1 20%;
}

.box.button{
  flex: 1 1 0%;
}
/* Icon */

.search {
  position: relative;
  background: var(--button-pri);
  box-shadow: 0 0 0 0.2em white;
  border-radius: 100%;
  width: 0.6em;
  height: 0.6em;
  margin: 0.1em;
  margin-right: 0.3em;
}
.search::after {
  content: '';
  position: absolute;
  margin-left: 0.4em;
  margin-top: 0.4em;
  background: white;
  transform: rotate(-45deg);
  border-radius: 0.1em;
  width: 0.3em;
  height: 0.7em;
}


@media screen and (min-width: 1000px) {

  /* header style */
  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 0.2fr auto minmax(470px, 2fr) 0.2fr;
  }

  .logo {
    grid-column: 2 / 3;
  }

  nav {
    all: unset;
    grid-column: 3/ 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  nav ul {
    display: flex;
    justify-content: flex-end;
  }

  nav li {
    background: var(--button-pri);
    font-size: 0.75rem;
    padding: 0.6em 1em;
    margin: auto;
    margin-left: 0.5em;
    border-radius: 0.4em;
    transition-duration: 500ms;
    transition-property: box-shadow, background;
  }

  nav a {
    opacity: 1;
    color: white;
    text-transform: none;
    transition: color 500ms;
  }

  nav li:hover {
    background: var(--button-sec);
    box-shadow: inset 0 0 30px -15px rgb(33, 5, 36);
  }

  .card {
    all: unset;
    background: var(--color-pri);
    border: 2px solid var(--color-sec);
    margin: auto 0;
    width: 100%;
    border-radius: 0.5em;
    min-width: 460px;
    max-width: 40%;
  }

  .panel {
    width: 80%;
    height: 100%;
  }
}

@media screen and (max-width: 515px) {
  html {
    font-size: 17px;
  }
  .logo {
    font-size: 1.8rem;
    letter-spacing: 0.1em;
  }
}

@media screen and (max-width: 415px) {
  html {
    font-size: 16px;
  }
  .logo {
    font-size: 1.6rem;
    letter-spacing: 0.14em;
  }
}

@media screen and (max-width: 340px) {
  html {
    font-size: 15px;
  }
  .logo {
    font-size: 1.5rem;
    letter-spacing: 0.1em;
  }
}

@media screen and (max-width: 300px) {
  html {
    font-size: 13px;
  }
  .logo {
    font-size: 1.6rem;
    letter-spacing: 0.1em;
  }
}