  <header>
    <a class='logo' href="/"> <img src="/resource/icon.png" alt="logo" class="imagen">Telemática</a>
    <input type="checkbox" id="nav-toggle" class="nav-toggle">
    <nav>
      <ul>
        <li><a href="/signup">Acceder</a></li>
      </ul>
    </nav>
    <label for="nav-toggle" class="nav-toggle-label">
      <span></span>
    </label>
  </header>
