<%- include('../templates/header') %>
  <title>Iniciar sesion</title>
</head>

<body>

  <div class="center">

    <div class="card prueba">
      <div class="card-body">

        <a href="/">
          <div class="profile">
            <div class="profile-circle" alt="">
              <img class="avatar" src="/resource/profile.svg" alt="">
            </div>
          </div>
        </a>
        <h2>Iniciar sesion</h2>

        <% errors.forEach(error=> { %>
          <p><%= error.msg %></p>
        <% }); %>

        <form action="/signin" method="post">

          <div class="box">
            <input class="form-input" type="text" autocomplete="username" name="user" id="user" placeholder=" "><br>
            <label class="form-label" for="user">Usuario</label>
          </div>

          <div class="box">
            <input class="form-input" type="password" name="password" id="pass" placeholder=" "><br>
            <label class="form-label" for="pass">Contraseña</label>
          </div>

          <div class="box submit">
            <input type="submit" value="Iniciar sesion">
          </div>

        </form>
      </div>
    </div>
  </div>

</body>

</html>