<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registrarse</title>
  <%- include('../templates/styles') %>
</head>

<body>

  <div class="center">

    <div class="card">
      <div class="card-body">

        <a href="/"><img src="/resource/icon.png" alt="logo" class="imagen"></a>
        <h2>Registrarse</h2>

        <h4>Usuario Creado</h4><br>
        <div class="row">
          <a href="/">Inicio</a>
          <a href="/signup">Crear nuevo usuario</a>
        </div>
        
      </div>
    </div>
  </div>

</body>

</html>